<ul xmlns="http://www.w3.org/1999/xhtml" class="nav navbar-nav">
  <li><a href="index.html">Home</a></li>
  <li class="dropdown">
    <a data-toggle="dropdown" href="#" class="dropdown-toggle">HOME <b class="caret"> </b></a>
    <ul class="dropdown-menu">
  <li><a href="index.html#Introduction">Introduction</a></li>
  <li><a href="index.html#Introduction#the-carin-alliance">The CARIN Alliance</a></li>
  <li><a href="index.html#guide-overview">Guide Overview</a></li>
    </ul>
  </li>
     <li class="dropdown">
    <a data-toggle="dropdown" href="#" class="dropdown-toggle">Use Cases<b class="caret"> </b></a>
    <ul class="dropdown-menu">
  <li><a href="use_case.html">Terms and Concepts</a></li>
  <li><a href="use_case.html">Use Cases</a></li>
   </ul>
  </li>
    <li class="dropdown">
    <a data-toggle="dropdown" href="#" class="dropdown-toggle">Guidance<b class="caret"> </b></a>
    <ul class="dropdown-menu">
  <li><a href="index.html#Introduction">General Guidance</a></li>
  <li><a href="cpcds.html">Common Payer Consumer Data Set (CPCDS)</a></li>
   <li><a href="index.html#CARIN">Notes To Developers</a></li>
    </ul>
  </li>
     <li class="dropdown">
    <a data-toggle="dropdown" href="#" class="dropdown-toggle">FHIR Artifacts<b class="caret"> </b></a>
    <ul class="dropdown-menu">
     <li><a href="profiles.html">Profiles</a></li>
    <li><a href="searchParameters.html">Search Parameters</a></li>
    <li><a href="terminology.html">Terminology </a></li>
    <li><a href="capability.html">Capability Statements</a></li>
    </ul>
   </li>
    <li><a href="index.html#CARIN">Security</a></li>
    <li><a href="examples.html">Examples</a></li> 
    <li><a href="downloads.html">Downloads</a></li>  
</ul>
