<ul xmlns="http://www.w3.org/1999/xhtml" class="nav navbar-nav">
  <li><a href="index.html">IG Home</a></li>
  <li><a href="toc.html">Table of Contents</a></li>
  <li class="dropdown">
    <a data-toggle="dropdown" href="#" class="dropdown-toggle">Background<b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
     <li><a   href="Background.html#the-carin-alliance">The CARIN Alliance</a></li>
      <li><a      href="Background.html#guide-overview">Guide Overview    </a></li>
    </ul>
  </li>
     <li class="dropdown">
    <a data-toggle="dropdown" href="#" class="dropdown-toggle">Use Cases<b class="caret"> </b></a>
    <ul class="dropdown-menu">
       <li><a href="Use_Case.html#terms-and-concepts">Terms and Concepts</a></li>
       <li><a href=         "Use_Case.html#use-cases">Use Cases         </a></li>
    </ul>
   </li>
    <li class="dropdown">
    <a data-toggle="dropdown" href="#" class="dropdown-toggle">Guidance<b class="caret"> </b></a>
    <ul class="dropdown-menu">
  <li><a href="Guidance.html">General Guidance</a></li>
  <li><a href="Common_Payer_Consumer_Data_Set.html">CPCDS</a></li>
   <li><a href="Notes_To_Developers.html">Notes To Developers</a></li>
    </ul>
  </li>
     <li class="dropdown">
    <a data-toggle="dropdown" href="#" class="dropdown-toggle">FHIR Artifacts<b class="caret"> </b></a>
    <ul class="dropdown-menu">
     <li><a href="profiles.html">Profiles                   </a></li>
    <li><a href="search.html">Search Behavior and Parameters</a></li>
    <li><a href="Terminology.html">Terminology              </a></li>
    <li><a href="Capability.html">Capability Statements     </a></li>
    </ul>
   </li>
     </li>
     <li class="dropdown">
    <a data-toggle="dropdown" href="#" class="dropdown-toggle">Security<b class="caret"> </b></a>
    <ul class="dropdown-menu">
           <li><a href="Authorization_Authentication_and_Registration.html">SMARTonFHIR App Launch</a></li>
           <li><a href="Authorization_Authentication_and_Registration.html">Authentication and Authorization</a></li>
    </ul>
   </li>
    <li>
    <a href="Examples.html">Examples</a>
    </li>
    <li>
    <a href="downloads.html">Downloads</a>
    </li>
</ul>
